<h1>Create:</h1>

<%= form_tag "/characters", method: :post do %>

  <%= label_tag :character_name %>
  <%= text_field_tag :character_name %>

  <%= label_tag :location %>
  <%= text_field_tag :location %>

  <%= label_tag :quote %>
  <%= text_field_tag :quote %>


  <%= submit_tag "Create" %>
  <% end %>